@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: #293264;
  background-color: #F5F7FB;
  font-family: 'Karla', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  position: fixed;
}

#svg-lemony-medium {
  top: 0;
  right: 0;
}

#svg-baby-medium {
  bottom: 0;
  left: 0;
}

.intro-container {
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 275pt;
}

.intro-title {
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.intro-desc {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}

.intro-button {
  width: 193px;
  height: 52px;
  border-radius: 15px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 26px;
  text-align: center;
  padding-top: 15px;
}

.questions-container {
  margin-top: 5rem;
  margin-left: 75px;
  margin-right: 168px;
}

.question-title {
  text-align: left;
  margin-top: 1rem;
}

.question {
  border-bottom: 1px;
  border-color: #DBDEF0;
  border-bottom-style: solid;
}

.question-radio-container {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.question-radio {
  border-radius: 8px;
  border: 0.9px solid #4D5B9E;
  padding: 5px;
  cursor: pointer;
}

.question-radio-label {
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.question-radio-button {
  visibility: hidden;
  position: fixed;
}

.question-radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.question-endgame-button {
  background-color: #4D5B9E;
  color: white;
  border-radius: 14px;
  border: none;
  width: 120px;
  height: 35px;
  margin-top: 20px;
  cursor: pointer;
}

.question-restart-container {
  display: flex;
  align-items: center;
  margin: 27px 168px 40px 75px;
  justify-items: center;
}

.question-correct-answer {
  color: #293264;
  text-align: center;
  font-family: 'Inter';
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.question-restart-button {
  margin-left: 20px;
  background-color: #4D5B9E;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 14px;
  width: 180px;
  height: 30px;
}
